<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Charlone Agius">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="{{ asset('build/vendors~app.css') }}" rel="stylesheet">
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.request.attributes.get('_route') != 'default' %}
            <div id="navContainer">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="{{ path('default') }}"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto text-center">
    {#                            {% if not app.user %}#}
    {#                                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'app_login' %}active{% endif %}">#}
    {#                                    <a class="nav-link" href="{{ path('app_login') }}">Log-in#}
    {#                                        <span class="{% if app.request.attributes.get('_route') starts with 'app_login' %}sr-only{% endif %}"></span>#}
    {#                                    </a>#}
    {#                                </li>#}
    {#                            {% endif %}#}
                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'home' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('home') }}">
                                    <i class="fas fa-home"></i>
                                    <div>
                                        Home
                                    </div>
                                    <span class="{% if app.request.attributes.get('_route') starts with 'home' %}sr-only{% endif %}"></span>
                                </a>
                            </li>
                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'about' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('about_us') }}">
                                    <i class="fas fa-building"></i>
                                    <div>
                                        Our College
                                    </div>
                                    <span class="{% if app.request.attributes.get('_route') starts with 'about' %}sr-only{% endif %}"></span>
                                </a>
                            </li>
                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'news' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('news') }}">
                                    <i class="fas fa-newspaper"></i>
                                    <div>
                                        Latest News
                                    </div>
                                    <span class="{% if app.request.attributes.get('_route') starts with 'news' %}sr-only{% endif %}"></span>
                                </a>
                            </li>
                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'courses' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('courses') }}">
                                    <i class="fas fa-chalkboard-teacher"></i>
                                    <div>
                                        Courses Offered
                                    </div>
                                    <span class="{% if app.request.attributes.get('_route') starts with 'courses' %}sr-only{% endif %}"></span>
                                </a>
                            </li>
                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'calendar' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('calendar') }}">
                                    <i class="fas fa-calendar"></i>
                                    <div>
                                        School Calendar
                                    </div>
                                    <span class="{% if app.request.attributes.get('_route') starts with 'calendar' %}sr-only{% endif %}"></span>
                                </a>
                            </li>
                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'enroll' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('enroll') }}">
                                    <i class="fas fa-door-open"></i>
                                    <div>
                                        Enroll with us
                                    </div>
                                    <span class="{% if app.request.attributes.get('_route') starts with 'enroll' %}sr-only{% endif %}"></span>
                                </a>
                            </li>
                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'contact' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('contact') }}">
                                    <i class="fas fa-address-book"></i>
                                    <div>
                                        Contact Us
                                    </div>
                                    <span class="{% if app.request.attributes.get('_route') starts with 'contact' %}sr-only{% endif %}"></span>
                                </a>
                            </li>
                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'gallery' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('gallery') }}">
                                    <i class="fas fa-camera"></i>
                                    <div>
                                        Gallery
                                    </div>
                                    <span class="{% if app.request.attributes.get('_route') starts with 'gallery' %}sr-only{% endif %}"></span>
                                </a>
                            </li>
    {#                            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'reports' %}active{% endif %}">#}
    {#                                <a class="nav-link" href="{{ path('reports') }}">Reports#}
    {#                                    <span class="{% if app.request.attributes.get('_route') starts with 'reports' %}sr-only{% endif %}"></span>#}
    {#                                </a>#}
    {#                            </li>#}
    {#                            {% if app.user %}#}
    {#                                <li class="nav-item {% if app.request.attributes.get('_route') starts with 'app_logout' %}active{% endif %}">#}
    {#                                    <a class="nav-link" href="{{ path('app_logout') }}">Log-out#}
    {#                                        <span class="{% if app.request.attributes.get('_route') starts with 'app_logout' %}sr-only{% endif %}"></span>#}
    {#                                    </a>#}
    {#                                </li>#}
    {#                            {% endif %}#}
                        </ul>
                    </div>
                </nav>
            </div>
        {% endif %}

        {% block body %}{% endblock %}

        {% if app.request.attributes.get('_route') != 'default' %}
            <footer class="py-1 fixed-bottom bg-dark">
                <p class="text-center text-white">Copyright &copy; Charlone Agius 2020</p>
            </footer>
        {% endif %}
        <script src="{{ asset('build/vendors~app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
